# === Build output ===
target/
build/
dist/

# === Node ===
node_modules

# === IDE ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

# === VS Code ===
.vscode/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
